{% extends 'base.html' %}
{% load static %}

{% block title %}目標、振り返り編集 | My Goal{% endblock %}



{% block content %}
<div class="container my-div-style">
    <div class="row">
        <form method="POST">
            {% csrf_token %}
            <table class="table">
                {{ form.as_table }}
            </table>
            <button class="btn btn-primary" type="submit">更新</button>
            <a class="btn btn-secondary ml-2" href="{% url 'my_goal:goal_detail' object.pk %}">キャンセル</a>
        </form>
    </div>
</div>
{% endblock %}